# macOS
.DS_Store

# Python
__pycache__/
.csv

# Envs
.venv/
venv/
env/
.env
.env.*

# Build / packaging
build/
dist/
*.egg-info/
*.egg

# Editors / IDEs
.idea/
.vscode/

# Data and results
data/
datasets/
results/
visualizations

# Weights & Biases
wandb/
**/wandb/**

# Logs and artifacts
*.log
*.ckpt
*.pt
*.png
*.jpg
*.jpeg

# Jupyter
.ipynb_checkpoints/
test_integration.py
cnn/experimental/
